body{
    background-image: url("src/assets/ai-generated-beautiful-background-for-garden-spring-party-advertising-free-photo.jpeg");
    
    background-size: cover;
    background-repeat: no-repeat;
}